# gitignore for 001.8accessions

# ignore all log files
**/logs
*.log

# ignore all data files
*.csv
*.txt

# ignore all figures
*.pdf
*.png

# ignore quasimapping results
001.transcript_quantification/quasiMapping

# R specific files
.Rproj.user
.Rhistory
001.8accessions.Rproj
