# gitignore for 001.8accessions

# ignore all log files
**/logs
*.log
Log.out

# ignore all data files
009.TE_expression_Laura/001.data/**
009.TE_expression_Laura/003.results/**
*.csv
*.txt
*.fasta

# ignore all figures
*.pdf
*.png

# ignore quasimapping results
001.transcript_quantification/quasiMapping

# R specific files
.Rproj.user
.Rhistory
001.8accessions.Rproj
